<div class="container-login">
  <span id="absolute-center">
    <h1>Login</h1>
      <% if current_user %>
        <a href="/logout">logout</a>
      <% else %>
        <%= display_error %>
        <form action="/login" method="POST">
        <h2>Username: <br>
        <input type="text" name="alias">
        <br>Password:<br>
        <input type="password" name="password">
        <input type="submit">
        </form></h2>
      <% end %>
    <a href = "/">back home</a>
</div>
