<div class="container">

<h1>Welcome New User</h1>
<p>
    <% if current_user %>
        <a href="/logout">Logout</a>
      <% else %>
      <%= display_error %>
        <form action="/signup" method="POST"><br>
          Desired Alias<br>
          <input name="user[alias]"></input><br>
          E-mail Address<br>
          <input name="user[email]"></input><br>
          Password<br>
          <input name="user[password]" type=password></input><br>
          Password Confirmation<br>
          <input name="user[password_confirmation]" type=password></input><br>
          <input type="submit" value="submit">
          <!-- ADD AJAX STATUS SUBMITTING BUTTON -->
        </form>
      <% end %>
      <a href = "/">back home</a>
</p>
