<form action="/topic/<%= topic.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    Title:<br>
    <input name="topic[name]" type="text"><br>
    Content:<br>
    <textarea name="topic[content]"></textarea><br>
    <input type="submit" value="Edit Thread">
</form>
