<div class="container-login">
  <span id="absolute-center">
    <h1>Today's Topics</h1>
    <% @topics.each do |topic| %>
      <%= erb :'display_topic', locals: {topic: topic} %>
    <% end %>
  </span>
</div>
