<div class="container">

<div class="search">
  <!-- MAKE SEARCH USE THAT WHATEVER WORD BREAKER UPPER THING U WERE GONNA USE ITLL BE SLOW BUT WHATEVER -->
   <form action="/search" method="get">
    <input type="text" name="query"/><br />
    <br>
    <input type="submit" />
  </form>

</div>


<!-- LATEST POSTS AND OR VIDEOS GOES HERE FROM INDEX.IRB -->

</div>
