<div class="container">
<h1>login</h1>
<p>
    <% if current_user %>
        <a href="/logout">logout</a>
      <% else %>
      <%= display_error %>
        <form action="/login" method="POST">
          Username: <br>
          <input type="text" name="alias">
          <br>Password: <br>
         <input type="password" name="password">
         <input type="submit">
        </form>
      <% end %>
      <a href = "/">back home</a>
</p>
