<div class="container">

<%= display_error %>

<form action="/topic" method="POST">
Title:<br>
<input name="topic[name]" type="text"><br>
Content:<br>
<textarea name="topic[content]"></textarea><br>
<!-- Tags:<br>
<input name="tag[tag]" type="text"> --><br>
<input type="submit" value="MAKEATHREAD">
</form>
</div>
