<div class="container-login">
<span id="absolute-center">
<%= display_error %>

<h2><form action="/topic" method="POST">
Title:<br>
<input name="topic[name]" type="text"><br>
Content:<br>
<textarea name="topic[content]"></textarea><br>
<br>
<input type="submit" value="Make a Thread">
</form>
</h2>
</span>
</div>
